
* { margin: 0px; padding: 0px; }

.entete {
    height: auto;
    background: linear-gradient(to right, #0421db, #fafafa 80%);
}
.amc {
    font-family: 'Ribeye', empattement !important;
    text-shadow: 6px 6px 6px #616161;
}
.nav {
    display: flex;
    justify-content: space-around;
}
.flex {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Ribeye';
}